.row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#left {
    left: 0;
    width: 80%;
}

#right {

}

body {
    background-color: palegoldenrod;
}

#graph {
    height: 100%;
    border: 1px solid black;
}

.tablesection {
    font-weight: bold;
}

table, tr, th, td {
    border: 1px solid #bbbbbb;
}

#menu {
    /* display: block;
    position: fixed; */
}